@model ShoesShop.Areas.Admin.Models.ThuongHieu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-danger">Xoá thương hiệu: @Html.DisplayFor(model => model.tenTH)</h4>
            <h5>Bạn có chắc muốn xoá không ?</h5>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal " width="100%" cellspacing="0">

                <dt style="padding-bottom : 10px">
                    @Html.DisplayNameFor(model => model.maTH):
                    <b>
                        @Html.DisplayFor(model => model.maTH)
                    </b>
                </dt>

                <dt style="padding-bottom : 10px">
                    @Html.DisplayNameFor(model => model.tenTH):
                    <b>
                        @Html.DisplayFor(model => model.tenTH)
                    </b>
                </dt>

                <dt style="padding-bottom : 10px">
                    @Html.DisplayNameFor(model => model.moTa): <b>@Html.DisplayFor(model => model.moTa)</b>
                </dt>
            </dl>

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-footer py-3">
                <p>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="btn btn-warning" href="/Admin/ThuongHieux/Index">Quay lại</a>
                </p>
            </div>
        }

    </div>
</div>
