@model IEnumerable<ShoesShop.Areas.Admin.Models.ThuongHieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/Data/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- Main Content -->
<div id="content">

    <!-- Topbar -->
    @*<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <h1 class="h3 mb-2 text-gray-800" style="color:black"><b>Quản lý sản phẩm</b></h1>
        </nav>*@
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Danh sách thương hiệu</h4>
                <a class="float-lg-right btn btn-primary" href="/Admin/ThuongHieux/Create">Thêm thương hiệu</a>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr style="Background: #456bd9">
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.tenTH)
                                </th>

                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.moTa)
                                </th>
                                <th style="color:white">Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.tenTH)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.moTa)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td class="col-lg-3">
                                    <a href="/Admin/ThuongHieux/Details/@item.maTH">
                                        <b>@Html.DisplayFor(modelItem => item.tenTH)</b>
                                    </a>

                                </td>

                                <td class="col-auto">
                                    @{
                                        if (item.moTa.Length > 150)
                                        {
                                            <span>@item.moTa.Substring(0, 150)...</span>
                                        }
                                        else
                                        {
                                            <span>@item.moTa</span>
                                        }
                                    }
                                </td>

                                <td style="text-align : center" class="col-lg-2">
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.maTH }, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Xoá", "Delete", new { id = item.maTH }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

