@model ShoesShop.Areas.Admin.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-danger">Xoá sản phẩm: @Html.DisplayFor(model => model.tenSP)</h4>
            <h5>Bạn có chắc muốn xoá không ?</h5>
        </div>
        <div class="card-body">

            <dl class="dl-horizontal " width="100%" cellspacing="0">
                <dt style="padding-bottom : 10px">
                    Loại sản phẩm: <b>@Html.DisplayFor(model => model.LoaiSP.tenLoai)</b>
                </dt>

                <dt style="padding-bottom : 10px">
                    @Html.DisplayNameFor(model => model.ThuongHieu.tenTH):
                    <b>
                        @Html.DisplayFor(model => model.ThuongHieu.tenTH)
                    </b>
                </dt>

                <dt style="padding-bottom : 10px">
                    @Html.DisplayNameFor(model => model.tenSP):
                    <b>
                        @Html.DisplayFor(model => model.tenSP)
                    </b>
                </dt>

                <dt style="padding-bottom : 10px">
                    @Html.DisplayNameFor(model => model.moTa): <b>@Html.DisplayFor(model => model.moTa)</b>
                </dt>


                <dt style="padding-bottom : 10px">
                    Đơn giá: <b style="color:red">@Html.DisplayFor(model => model.donGia)</b>
                </dt>

                <dt style="padding-bottom : 10px">
                    Số lượng: <b>
                        @Html.DisplayFor(model => model.soLuong)
                    </b>
                </dt>

                <dt style="padding-bottom : 10px">
                    @Html.DisplayNameFor(model => model.Anh) <img src="~/Content/images/@Html.DisplayFor(model => model.Anh)" width="100" height="100" />
                </dt>

            </dl>

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-footer py-3">
                <p>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a class="btn btn-warning" href="/Admin/SanPhams/Index">Quay lại</a>
                </p>
            </div>
        }

    </div>
</div>

